extends ../layout

block content
    h1= title
    p Welcome to #{title}

    a(href='/news/add')= 'Add news'
    table
        tr
            th= 'Id'
            th= 'Title'
            th= 'Create date'
            th= 'Action'
        each item, index in data
            tr
                td= index
                td= item.title
                td= item.date
                td
                    a(href=`/news/delete/${item._id}`)= 'Delete'
