doctype html
head
  link(href="https://fonts.googleapis.com/css?family=Josefin+Sans|Lato&display=swap" rel="stylesheet")
  link(rel='stylesheet', href='/stylesheets/index.css')
  link(rel='stylesheet', href='/css/fontello.css')

body
  div(id='container')
    div(class='rectangle')
      div(id='logo')= 'Marek Rydzewski'
      div(id='clock')= '12:00:00'
    div(class='square')
      div(class='tile1')
        a(href='/news')
            i(class='icon-address-card-o')
            br
            div='About me'
      div(class='tile1')
        a(href='/news')
            i(class='icon-cogs')
            br
            div='My projects'
      div(style='clear:both')
      div(class='tile2')
        a(href='/news')
            i(class='icon-book')
            br
            div='Curriculum vitae'
      div(class='tile3')
        a(href='/news')
            i(class='icon-chat-empty')
            br
            div='Contact me'
      div(style='clear:both')
      div(class='tile4')
        i='Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live. - Martin Golding'
    div(class='square')
      div(class='tile5')='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sodales, nisl sed pharetra accumsan, est arcu aliquet ante, eget sodales velit tellus id est. Proin volutpat sem eget faucibus porta. Donec eleifend vitae nunc tristique tincidunt. In aliquet molestie consequat. Curabitur ut quam purus. Quisque eu est a leo consectetur venenatis. Ut vitae felis at purus consectetur feugiat sed eget orci. Suspendisse volutpat lacinia mattis. In hac habitasse platea dictumst. Morbi ac massa venenatis, interdum lorem non, elementum quam. Phasellus pulvinar risus in orci ultrices, quis convallis dui malesuada.'
      div(style='clear:both')
      div(class='linkedIn')
        a(href='https://www.linkedin.com/in/marek-rydzewski/' target='_blank')
            i(class='icon-linkedin-squared')
      div(class='gitHub')
        a(href='https://github.com/MarcoRy' target='_blank')
            i(class='icon-github-circled')
      div(class='gmail')
        a(href='/news')
            i(class='icon-mail')
    div(class='rectangle')='2019 © Marek Rydzewski -  Portfolio. Programmer JAVA, Spring ,now also JavaScript, Html, CSS '