doctype html
head
  link(href="https://fonts.googleapis.com/css?family=Josefin+Sans|Lato&display=swap" rel="stylesheet")
  link(rel='stylesheet', href='/stylesheets/index.css')
  link(rel='stylesheet', href='/css/fontello.css')
body
  div(id='container')
    div(class='rectangle')
      div(id='logo')= 'Marek Rydzewski'
      div(id='clock')
    div(class='square')
      div(class='tile1')
        a(href='/about-me')
            i(class='icon-address-card-o')
            br
            div='About me'
      div(class='tile1')
        a(href='/projects')
            i(class='icon-cogs')
            br
            div='My projects'
      div(style='clear:both')
      div(class='tile2')
        a(href='/curriculum-vitae')
            i(class='icon-book')
            br
            div='Curriculum vitae'
      div(class='tile3')
            div(class='box')
                i(class='icon-chat-empty')
                    br
                    div='Contact me'
                div(class="fadedbox")
                    div(class="title text")='Section not done yet, check contacts in right corner'
      div(style='clear:both')
      div(class='tile4')
        i='Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live. - Martin Golding'
    div(class='square')
      div(class='tile5')
          |Hi, my name is Marek. Welcome to my web site. 
          |I developed this page for experiments, training and consolidate knowledge. 
          |Also, I want to try to implement new technologies and first of all I want to present my ideas for others. 
          |Feel free to browse, clicks and play.🙂
      div(style='clear:both')
      div(class='linkedIn')
        a(href='https://www.linkedin.com/in/marek-rydzewski/' target='_blank')
            i(class='icon-linkedin-squared')
      div(class='gitHub')
        a(href='https://github.com/MarcoRy' target='_blank')
            i(class='icon-github-circled')
      div(class='gmail')
        a(href='/mail')
            i(class='icon-mail')
    div(class='rectangle')='2019 © Marek Rydzewski -  Portfolio. Programmer JAVA, Spring ,now also JavaScript, Html, CSS '
    script
        include ../public/javascripts/clock.js
