doctype html

head
    link( href="https://fonts.googleapis.com/css?family=Alegreya+SC:500&display=swap" rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/projects.css')

body
    div(id='logo')='Welcome to my projects page'
    div(id='container')
     div(id='content')
       ol
           li='Java projects'
               ul
                   li='Files changer'
                   li='Batman sql game'
           li='JavaScript projects'
               ul
                   li='Kamień, papier, nożyce'
           li='Node projects'
               ul
                   li='My portfolio'
