doctype html

head
    link( href="https://fonts.googleapis.com/css?family=Alegreya+SC:500&display=swap" rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/projects.css')

body
    div(id='logo')='Welcome to my projects page'
    div(id='container')
      div(id='table-content')
        ol
            li='Java projects'
                ul
                    li
                        a(href='#file-changer-header')='Files changer'
                    li
                        a(href='#batman-header')='Batman sql game'
            li='JavaScript projects'
                ul
                    li
                        a(href='#kamien-papier-nozyce-header')='Kamień, papier, nożyce'
            li='Node projects'
                ul
                    li
                        a(href='#my-portfolio-header')='My portfolio'
      div(class='slide')
          h1 Here are java projects
          h2(id='file-changer-header') Files changer
          div(id='files-changer' )
          div(class='description')
              | This is a program which convert files byte code.
              | You can choose path or specific file and type of files.
              | When you do this you write what byte chain you want to change.
              | Letter you choose on what byte chain program will replace founded bytes
              |Warning: Be careful when you decide change bytes in path. If you choose system folder it can cause dangerous results
          div(style='clear:both;')
              a(href='https://github.com/MarcoRy/bytes-changer') Link to project code on github
      div(class='slide')
          h1 Here are java projects
          h2(id='batman-header') Batman sql game
          div(id='batman-sql-game' )
          div(class='description')
              | This game is made for training sql queries.
              | In the game you have some story about Batman
              | You have to made some mission write sql queries
              | If it is correct you move to another level
              | On every level you get information what tables and columns
              | you have to use in your query
          div(style='clear:both;')
              a(href='https://github.com/MarcoRy/batman-sql-game') Link to project code on github
              br
              a(href='https://batman-sql-game.herokuapp.com') Play game
      div(class='slide')
          h1 Here are JavaScript projects
          h2(id='kamien-papier-nozyce-header') Kamień, papier, nożyce
          div(id='kamien-papier-nozyce' )
          div(class='description')
              | This game is made for training sql queries.
              | In the game you have some story about Batman
              | You have to made some mission write sql queries
              | If it is correct you move to another level
              | On every level you get information what tables and columns
              | you have to use in your query
          div(style='clear:both;')
              a(href='https://github.com/MarcoRy/rock-paper-scissors') Link to project code on github
              br
              a(href='https://rock-paper-scissors-by-mr.herokuapp.com/index.html') Play game
      div(class='slide')
          h1 Here are Node projects
          h2(id='my-portfolio-header') My portfolio
          div(id='my-portfolio' )
          div(class='description')
              | Everything started from node course.
              | I made same simple example sites.
              | I wonder what to do with this, and get idea during html course
              | So I started transform, upgrading, adding new features, changing code to Portfolio style.
              | And I made what you can see here.
              | Enjoy. Any new ideas, what to add, change is nice to hear
          div(style='clear:both;')
              a(href='https://github.com/MarcoRy/express') Link to project code on github