doctype html

head
    link( href="https://fonts.googleapis.com/css?family=Alegreya+SC:500&display=swap" rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/projects.css')

body
    div(id='logo')='Welcome to my projects page'
    div(id='container')
      div(id='table-content')
        ol
            li='Spring + Angular'
                ul
                    li
                        a(href='#squash-shop-header')='Squash shop'
            li='Spring + hibernate + thymeleaf'
                ul
                    li
                        a(href='#batman-header')='Batman sql game'
            li='Java'
                ul
                    li
                        a(href='#file-changer-header')='Files changer'
            li='JavaScript + CSS + HTML'
                ul
                    li
                        a(href='#kamien-papier-nozyce-header')= 'Rock, paper, scissors'
            li='Node + JavaScript + CSS + Pug'
                ul
                    li
                        a(href='#my-portfolio-header')='My portfolio'
      div(class='slide')
          h1(id='squash-shop-header') Spring + Angular
          h2 Squash shop
          div(id='squash-shop' )
          div(class='description')
              | I am a fan of squash. That's why I created a project referring to my hobby.
              | The code is still developing, but the major functionalities are working.
              | Choose your favorite product and make the order.
              | The shop consists of two services. Backend Spring layer and frontend Angular layer.
          div(style='clear:both;')
              a(href='https://github.com/MarcoRy/squash-shop-project') Link to project code on github
              br
              div(id='make-shopping')
                a(href='https://squash-shop-frontend.herokuapp.com/products') Make a shopping :)
              span(id='warning') * When you open the app wait while when Heroku wakes up the backend layer and loaded all products.
      div(class='slide')
          h1(id='batman-header') Spring + hibernate + thymeleaf
          h2 Batman sql game
          div(id='batman-sql-game' )
          div(class='description')
              |This game is made for training SQL queries.
              |In each episode, you get some interesting pieces of information from Batman's world.
              |To get to the next part just write the correct query.
              |On every level you get, also info about what tables and columns you have to use.
              |Don't hesitate just check it out.
          div(style='clear:both;')
              a(href='https://github.com/MarcoRy/batman-sql-game') Link to project code on github
              br
              a(href='https://batman-sql-game.herokuapp.com') Play game
      div(class='slide')
          h1(id='file-changer-header') Java
          h2 Files changer
          div(id='files-changer' )
          div(class='description')
              |This is a console program, which changing files byte code.
              |You can choose the path and type of files you want to have transformed.
              |When you do this, you write byte chain you want to replace and secondly byte chain you want to put in.
              |Warning: Be careful when you decide to change bytes in the path because you can incidentally damage important files.
          div(style='clear:both;')
              a(href='https://github.com/MarcoRy/bytes-changer') Link to project code on github
      div(class='slide')
          h1(id='kamien-papier-nozyce-header')  JavaScript + CSS + HTML
          h2 Rock, paper, scissors
          div(id='kamien-papier-nozyce' )
          div(class='description')
              |Almost everybody knows this game.
              |Many unresolved situations were resolved by this entertainment;).
              |I made this simple game to training my JavaScript skills.
              |You play with the computer.
              |You have a statistic that informs about the win, lost and draws for checking how lucky you are.
              |Try to beat your opponent.
          div(style='clear:both;')
              a(href='https://github.com/MarcoRy/rock-paper-scissors') Link to project code on github
              br
              a(href='https://rock-paper-scissors-by-mr.herokuapp.com/index.html') Play game
      div(class='slide')
          h1(id='my-portfolio-header') Node + JavaScript + CSS + Pug
          h2 My portfolio
          div(id='my-portfolio' )
          div(class='description')
              |Everything started from the node course.
              |I made some simple example sites.
              |I wondered what to do with this...
              |So I started to transform, upgrading, adding new features, changing code and I got something like my portfolio.
              |Hope you like it. Any new ideas are nice to hear.
          div(style='clear:both;')
              a(href='https://github.com/MarcoRy/express') Link to project code on github
