extends layout

block content
    h1= title
    p Welcome to #{title}
       br
       br
       if(sameUser === 1)
        label= 'QUESTION ANSWERS STATISTIC:'
        for answer in data
           br
           span= `${answer.answer} ${answer.vote} --- ${Math.round(answer.vote * 100/sum)}% `

       else
         span= `${question}`
            form(method="POST")
             for answer in data
                 span= `${answer.answer}`
                 input(type='radio', name='answerId', value= answer._id || 0)
                 br
             -if(isVoteButton===true)
              input(type='submit' value= `Vote`)


